extends layout

block content
  //- HOME PAGE
  div(data-role='page', data-theme='a' id='home')
    header(data-role='header', data-theme='b')
      h1= title
    div(data-role='content')
    img(ng-src='images/jslogo.png', alt='J <3 D', id='logo')
    div(data-role='controlgroup', id='button-group', data-theme='b')
      a(href='#photos', data-transition="slide", class='ui-btn ui-btn-icon-left ui-icon-camera') Photos
      a(href='#slideshows', data-transition="slide", class='ui-btn ui-btn-icon-left ui-icon-grid') Slides
      a(href='#play', data-transition="slide", class='ui-btn ui-btn-icon-left ui-icon-gear') Play
  
    div(data-theme='b',data-role='footer',data-position='fixed', data-tap-toggle="false")

  //- END HOME PAGE

  //--------------------------------------------------------------------------------------------

  //- PHOTOS PAGE
  div(data-role="page", data-theme='a', id="photos", data-add-back-btn="true")
    header(data-role='header', data-theme='b')
      a(href="/#home", data-transition="slide", data-direction="reverse", data-role="button", data-icon="back", data-iconpos="notext")
      h1 Photos
    div(data-role='content')
       //- img(ng-src='images/Image-icon.png',alt="Pictures",class="icons")

    //- PHOTOLIST
    div(id="photos_list_container", data-layout="4444")
      img(ng-repeat="photo in photos",ng-src="/thumbnails/{{photo.thumb_name}}", id="{{photo.id}}", class="photo_pg_img", ng-click='deletePhoto')
    
    a(id='deletebtn', ng-click="deletePhoto()" data-role="button") Delete

    form(id='sendfileform', method='post',enctype='multipart/form-data', data-ajax="false", action="/photos/")
      input(type='file',name='file',id='file', accept="image/*", capture="camera", max-size=999999)
      input(type='submit', name='mysubmit',value='Add Photo', id='submit')

    footer(data-role='footer', data-position='fixed', data-theme='b', data-tap-toggle="false")
      div(data-role='navbar',data-theme='b')
        ul 
          li
            a(id='photosNav',href='#home', data-direction="reverse", data-transition="slide", data-icon='home') Home 
          li
            a(id='photosNav',href='#photos', data-transition="slide", data-icon='camera', class="ui-btn-active") Photos
          li
            a(id='slideshowNav',href='#slideshows', data-transition="slide", data-icon='grid') Slides
          li
            a(id='configureNav',href='#play', data-transition="slide", data-icon='gear') Play

  //- END PHOTOS PAGE

  //--------------------------------------------------------------------------------------------

  //- SLIDESHOW PAGE
  div(data-role="page", data-theme='a', id="slideshows", data-add-back-btn="true")
    header(data-role='header', data-theme='b')
      a(href="/#home", data-transition="slide", data-role="button", data-direction="reverse", data-icon="back", data-iconpos="notext")
      h1 Slides

    div(data-role='content')
     img(ng-src='images/Slideshow-icon.png',alt="Slideshow",class="icons")

    div(data-role='controlgroup', id='button-group',data-theme='b')
      a(href='#slidenew', data-transition="slide", class='ui-btn ui-btn-icon-left ui-icon-plus') New
      a(href='#slideedit', data-transition="slide", class='ui-btn ui-btn-icon-left ui-icon-grid') Edit
      a(href='#slidedelete', data-transition="slide", class='ui-btn ui-btn-icon-left ui-icon-delete') Delete

    footer(data-role='footer', data-position='fixed', data-theme='b', data-tap-toggle="false")
      div(data-role='navbar')
        ul 
          li
            a(id='photosNav',href='#home', data-direction="reverse", data-transition="slide", data-icon='home') Home 
          li
            a(id='photosNav',href='#photos', data-transition="slide", data-direction="reverse", data-icon='camera') Photos
          li
            a(id='slideshowNav',href='#slideshows', data-transition="slide", data-icon='grid', class="ui-btn-active") Slides
          li
            a(id='configureNav',href='#play', data-transition="slide", data-icon='gear') Play

  //- END SLIDESHOW PAGE

  //--------------------------------------------------------------------------------------------
  
  //- NEW SLIDE PAGE
  div(data-role="page", data-theme='a', id="slidenew", data-add-back-btn="true")
    header(data-role='header', data-theme='b')
      a(href="/#slideshows", data-transition="slide", data-role="button", data-direction="reverse", data-icon="back", data-iconpos="notext")
      h1 New Slide

    input(id="slide-name", type="text", placeholder="Slide Name")

    //- PHOTOLIST
    div(id="photos_list_container_newslide", data-layout="4444")
      img(ng-repeat="photo in photos", ng-src="/thumbnails/{{photo.thumb_name}}", id="{{photo.id}}", class="new_slide_pg_img")
  
    div(data-role="controlgroup", data-theme='b')
      a(id="new-slide-save", class='ui-btn ui-btn-icon-left ui-icon-action input_60P') Save

  //- END NEW SLIDE PAGE

  //--------------------------------------------------------------------------------------------
  
  //- EDIT SLIDE PAGE
  div(data-role="page", data-theme='a', id="slideedit", data-add-back-btn="true")
    header(data-role='header', data-theme='b')
      a(href="/#slideshows", data-transition="slide", data-role="button", data-icon="back", data-direction="reverse", data-iconpos="notext")
      h1 Edit Slide

    div(data-role="controlgroup", data-theme='b')
      select(id='select-slide-edit', ng-model="slideToEdit", ng-options="slide.name for slide in slides") 
      //- option(ng-repeat="slide in slides", value="{{slide.id}}", label="{{slide.name}}") {{slide.name}}

    div(id="slides_edit_list_container", data-layout="4444", class="invisible")
      img( ng-model="slideToEdit", ng-repeat="photo in photos",ng-src="/thumbnails/{{photo.thumb_name}}", id="{{photo.id}}" + "edit", class="photo_edit_img")

    div(id='photos-container')

    div(data-role="controlgroup", data-theme='b', class="invisible")
      a(id="slide-edit-btn", class='ui-btn ui-btn-icon-left ui-icon-action input_60P') Save

  //- END EDIT SLIDE PAGE

  //--------------------------------------------------------------------------------------------

  //- DELETE SLIDE PAGE
  div(data-role="page", data-theme='a', id="slidedelete")
    header(data-role='header', data-theme='b')
      a(href="/#slideshows", data-transition="slide", data-role="button", data-icon="back", data-direction="reverse", data-iconpos="notext")
      h1 Delete Slide

    div(data-role="controlgroup", data-theme='b')
      select(id="selectDelete", ng-model="slideToDelete", ng-options="slide.name for slide in slides")
      //-option(ng-repeat="slide in slides", value="{{slide.id}}", label="{{slide.name}}") {{slide.name}}

    div(id="slides_delete_list_container", data-layout="4444")
      img(ng-model="slideToDelete", ng-repeat="photo in slideToDelete.picture_ids",ng-src="/thumbnails/{{photo.thumb_name}}", id="{{photo.id}}", class="photo_delete_img")

    div(data-role="controlgroup", data-theme='b')
      a(id="slide-delete-btn", class='ui-btn ui-btn-icon-left ui-icon-delete input_60P') Delete

  //- END DELETE SLIDE PAGE

  //--------------------------------------------------------------------------------------------

  //- Play PAGE
  div(data-role="page", data-theme='a', id="play")
    header(data-role='header', data-theme='b')
      a(href="/#home", data-transition="slide", data-role="button", data-icon="back", data-direction="reverse", data-iconpos="notext")
      h1 Play

    div(data-role='content')
      img(ng-src='images/Gears-icon.png',alt="Play",class="icons")

    div(data-role="controlgroup", data-theme='b')
      select(id="selectSlideToPlay", ng-model="slideToPlay", ng-options="slide.name for slide in slides")

    div(id="play_list_container", data-layout="4444")
      img(ng-model="slideToPlay", ng-repeat="photo in slideToPlay.pictures",ng-src="/thumbnails/{{photo.thumb_name}}", id="{{photo.id}}", class="photo_play_img")

    div(data-role="controlgroup", data-theme='b')
      a(id="slide-play-btn", class='ui-btn ui-btn-icon-left ui-icon-video invisible input_60P') Play Slide

    footer(data-role='footer', data-position='fixed', data-theme='b', data-tap-toggle="false")
      div(data-role='navbar')
        ul
          li
            a(id='photosNav',href='#home', data-direction="reverse", data-transition="slide", data-icon='home') Home 
          li
            a(id='photosNav',href='#photos', data-transition="slide", data-direction="reverse", data-icon='camera') Photos
          li
            a(id='slideshowNav',href='#slideshows', data-transition="slide", data-direction="reverse", data-icon='grid') Slides
          li
            a(id='configureNav',href='#play', data-transition="slide", data-icon='gear', class="ui-btn-active") Play

  //- END Play PAGE

  //--------------------------------------------------------------------------------------------