extends layout

block content
  //- HOME PAGE
  div(data-role='page', data-theme='a' id='home')
    header(data-role='header', data-theme='b')
      h1= title
    div(data-role='content')
    img(ng-src='images/jslogo.png', alt='J <3 D', id='logo')
    div(data-role='controlgroup', id='button-group', data-theme='b')
      a(href='#photos', data-transition="slide", class='ui-btn ui-btn-icon-left ui-icon-camera') Photos
      a(href='#slideshows', data-transition="slide", class='ui-btn ui-btn-icon-left ui-icon-grid') Slides
      a(href='#play', data-transition="slide", class='ui-btn ui-btn-icon-left ui-icon-gear') Play
  
    div(data-theme='b',data-role='footer',data-position='fixed', data-tap-toggle="false")

  //- END HOME PAGE

  //--------------------------------------------------------------------------------------------

  //- PHOTOS PAGE
  div(data-role="page", data-theme='a', id="photos", data-add-back-btn="true")
    header(data-role='header', data-theme='b')
      a(href="/#home", data-transition="slide", data-direction="reverse", data-role="button", data-icon="back", data-iconpos="notext")
      h1 Photos
    div(data-role='content')

    //- PHOTOLIST
    div(id="photos_list_container")
      div(ng-repeat="photo in photos", class="photo_container")
        div
          img(ng-src="/thumbnails/{{photo.thumb_name}}", id="photo_{{photo.id}}")
          a(class='deletebtn', ng-click="deletePhoto(photo.id)" data-role="button") Delete

    input(type='file',name='file',id='file', accept="image/*", capture="camera", max-size=999999, onchange="angular.element(this).scope().uploadFile(this.files)")

    footer(data-role='footer', data-position='fixed', data-theme='b', data-tap-toggle="false")
      div(data-role='navbar',data-theme='b')
        ul 
          li
            a(id='photosNav',href='#home', data-direction="reverse", data-transition="slide", data-icon='home') Home 
          li
            a(id='photosNav',href='#photos', data-transition="slide", data-icon='camera', class="ui-btn-active") Photos
          li
            a(id='slideshowNav',href='#slideshows', data-transition="slide", data-icon='grid') Slides
          li
            a(id='configureNav',href='#play', data-transition="slide", data-icon='gear') Play

  //- END PHOTOS PAGE

  //--------------------------------------------------------------------------------------------

  //- SLIDESHOW PAGE
  div(data-role="page", data-theme='a', id="slideshows", data-add-back-btn="true")
    header(data-role='header', data-theme='b')
      a(href="/#home", data-transition="slide", data-role="button", data-direction="reverse", data-icon="back", data-iconpos="notext")
      h1 Slides

    div(data-role='content')
     img(ng-src='images/Slideshow-icon.png',alt="Slideshow",class="icons")

    div(data-role='controlgroup', id='button-group',data-theme='b')
      a(href='#slidenew', data-transition="slide", class='ui-btn ui-btn-icon-left ui-icon-plus') New
      a(href='#slideedit', data-transition="slide", class='ui-btn ui-btn-icon-left ui-icon-grid') Edit

    footer(data-role='footer', data-position='fixed', data-theme='b', data-tap-toggle="false")
      div(data-role='navbar')
        ul 
          li
            a(id='photosNav',href='#home', data-direction="reverse", data-transition="slide", data-icon='home') Home 
          li
            a(id='photosNav',href='#photos', data-transition="slide", data-direction="reverse", data-icon='camera') Photos
          li
            a(id='slideshowNav',href='#slideshows', data-transition="slide", data-icon='grid', class="ui-btn-active") Slides
          li
            a(id='configureNav',href='#play', data-transition="slide", data-icon='gear') Play

  //- END SLIDESHOW PAGE

  //--------------------------------------------------------------------------------------------
  
  //- NEW SLIDE PAGE
  div(data-role="page", data-theme='a', id="slidenew", data-add-back-btn="true", ng-model="slideNew")
    header(data-role='header', data-theme='b')
      a(href="/#slideshows", data-transition="slide", data-role="button", data-direction="reverse", data-icon="back", data-iconpos="notext")
      h1 New Slide

    input(id="slide-name", type="text", placeholder="Slide Name", ng-model="slideNew.name")

    //- PHOTOLIST
    div(id="photos_list_container_newslide")
      div(ng-repeat="photo in photos", class="photo_container", ng-click="toggleSelect(photo, slideNew)", ng-class="{selected_photo: slideNew.picture_ids[photo.id]}")
        div
          img(ng-src="/thumbnails/{{photo.thumb_name}}", id="photo_{{photo.id}}")
  
    div(data-role="controlgroup", data-theme='b')
      a(id="new-slide-save", class='ui-btn ui-btn-icon-left ui-icon-action input_60P' ng-click="newSlide(slideNew)") Save

  //- END NEW SLIDE PAGE

  //--------------------------------------------------------------------------------------------
  
  //- EDIT SLIDE PAGE
  div(data-role="page", data-theme='a', id="slideedit", data-add-back-btn="true")
    header(data-role='header', data-theme='b')
      a(href="/#slideshows", data-transition="slide", data-role="button", data-icon="back", data-direction="reverse", data-iconpos="notext")
      h1 Edit Slide

    div(data-role="controlgroup", data-theme='b')
      select(name='slideEditSelect', ng-model="slideToEdit", ng-model-options="{ updateOn: 'default blur'}", ng-options="slide.name for slide in slides") 

    div(id="slides_edit_list_container", ng-class="{hidden : !slideToEdit}")
      div(ng-repeat="photo in photos", class="photo_container", ng-click="toggleSelect(photo, slideToEdit)", ng-class="{selected_photo: slideToEdit.picture_ids[photo.id]}")
        div
          img(ng-src="/thumbnails/{{photo.thumb_name}}", id="photo_{{photo.id}}" class="photo_edit_img")

    div(data-role="controlgroup", data-theme='b')
      a(id="slide-edit-btn", class='ui-btn ui-btn-icon-left ui-icon-action input_60P', ng-click="saveSlide(slideToEdit)",  ng-class="{hidden : !slideToEdit}") Save
      a(id="slide-delete-btn", class='ui-btn ui-btn-icon-left ui-icon-delete input_60P', ng-click="deleteSlide(slideToEdit)",  ng-class="{hidden : !slideToEdit}") Delete

  //- END EDIT SLIDE PAGE

  //- PLAY PAGE
  div(data-role="page", data-theme='a', id="play")
    header(data-role='header', data-theme='b')
      a(href="/#home", data-transition="slide", data-role="button", data-icon="back", data-direction="reverse", data-iconpos="notext")
      h1 Play

    div(data-role='content')
      img(ng-src='images/Gears-icon.png',alt="Play",class="icons")

    div(data-role="controlgroup", data-theme='b')
      select(id="selectSlideToPlay", ng-model="slideToPlay", ng-options="slide.name for slide in slides")

    div(id="play_list_container")
      img(ng-model="slideToPlay", ng-repeat="photo in slideToPlay.pictures",ng-src="/thumbnails/{{photo.thumb_name}}", id="{{photo.id}}", class="photo_play_img")

    div(data-role="controlgroup", data-theme='b')
      a(id="slide-play-btn", class='ui-btn ui-btn-icon-left ui-icon-video input_60P', ng-click='playSlide(slideToPlay)') Play Slide

    footer(data-role='footer', data-position='fixed', data-theme='b', data-tap-toggle="false")
      div(data-role='navbar')
        ul
          li
            a(id='photosNav',href='#home', data-direction="reverse", data-transition="slide", data-icon='home') Home 
          li
            a(id='photosNav',href='#photos', data-transition="slide", data-direction="reverse", data-icon='camera') Photos
          li
            a(id='slideshowNav',href='#slideshows', data-transition="slide", data-direction="reverse", data-icon='grid') Slides
          li
            a(id='configureNav',href='#play', data-transition="slide", data-icon='gear', class="ui-btn-active") Play

  //- END PLAY PAGE

  //--------------------------------------------------------------------------------------------
  div(data-role="popup" id="notifyMsg")
    p {{notificationText}}
    div(id='photos-container')



