extends layout

block content
  div(data-role='content')
    img(src='images/jslogo.png',alt="J <3 D",id="logo")
  div(data-role='controlgroup', id='button-group', data-theme='b')
    a(href='/photos', class='ui-btn ui-btn-icon-left ui-icon-camera') Photos
    a(href='/slideshows', class='ui-btn ui-btn-icon-left ui-icon-grid') Slides
    a(href='/settings', class='ui-btn ui-btn-icon-left ui-icon-gear') Settings
  
  div(data-theme='b',data-role='footer',data-position='fixed')