extends layout

block content
  //- HOME PAGE
  div(data-role='page', data-theme='a' id='home')
    header(data-role='header', data-theme='b')
      h1= title
    div(data-role='content')
    img(ng-src='images/jslogo.png', alt='J <3 D', id='logo')
    div(data-role='controlgroup', id='button-group', data-theme='b')
      a(href='#photos', data-transition="slide", class='ui-btn ui-btn-icon-left ui-icon-camera') Photos
      a(href='#slideshows', data-transition="slide", class='ui-btn ui-btn-icon-left ui-icon-grid') Slides
      a(href='#play', data-transition="slide", class='ui-btn ui-btn-icon-left ui-icon-gear') Play
  
    div(data-theme='b',data-role='footer',data-position='fixed', data-tap-toggle="false")

  //- END HOME PAGE

  //--------------------------------------------------------------------------------------------

  //- PHOTOS PAGE
  div(data-role="page", data-theme='a', id="photos", data-add-back-btn="true")
    header(data-role='header', data-theme='b')
      a(href="/#home", data-transition="slide", data-direction="reverse", data-role="button", data-icon="back", data-iconpos="notext", class="back_btn")
      h1 Photos

    div(class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset input-w-title-container")
      label Upload photo:
      input(type='file',name='file',id='file', accept="image/*", capture="camera", max-size=999999, onchange="angular.element(this).scope().uploadFile(this.files)")

    //- PHOTOLIST
    div(id="photos_list_container")
      div(ng-repeat="photo in photos", class="photo_container", ng-click="photoClick(photo.id)")
        div
          img(ng-src="/thumbnails/{{photo.thumb_name}}", id="photo_{{photo.id}}")
          a(class='deletebtn', ng-click="deletePhoto(photo.id)" data-role="button", ng-class="{hidden: clickedPhotoId != photo.id }") Delete

    footer(data-role='footer', data-position='fixed', data-theme='b', data-tap-toggle="false")
      div(data-role='navbar',data-theme='b')
        ul 
          li
            a(id='photosNav',href='#home', data-direction="reverse", data-transition="slide", data-icon='home') Home 
          li
            a(id='photosNav',href='#photos', data-transition="slide", data-icon='camera', class="ui-btn-active active") Photos
          li
            a(id='slideshowNav',href='#slideshows', data-transition="slide", data-icon='grid') Slides
          li
            a(id='configureNav',href='#play', data-transition="slide", data-icon='gear') Play

  //- END PHOTOS PAGE

  //--------------------------------------------------------------------------------------------

  //- SLIDESHOW PAGE
  div(data-role="page", data-theme='a', id="slideshows", data-add-back-btn="true")
    header(data-role='header', data-theme='b')
      a(href="/#home", data-transition="slide", data-role="button", data-direction="reverse", data-icon="back", data-iconpos="notext", class="back_btn")
      h1 Slides

    div(data-role='content')
     img(ng-src='images/Slideshow-icon.png',alt="Slideshow",class="icons")

    div(data-role='controlgroup', id='button-group',data-theme='b')
      a(href='#slidenew', data-transition="slide", class='ui-btn ui-btn-icon-left ui-icon-plus') New
      a(href='#slideedit', data-transition="slide", class='ui-btn ui-btn-icon-left ui-icon-grid') Edit

    footer(data-role='footer', data-position='fixed', data-theme='b', data-tap-toggle="false")
      div(data-role='navbar')
        ul 
          li
            a(id='photosNav',href='#home', data-direction="reverse", data-transition="slide", data-icon='home') Home 
          li
            a(id='photosNav',href='#photos', data-transition="slide", data-direction="reverse", data-icon='camera') Photos
          li
            a(id='slideshowNav',href='#slideshows', data-transition="slide", data-icon='grid', class="ui-btn-active active") Slides
          li
            a(id='configureNav',href='#play', data-transition="slide", data-icon='gear') Play

  //- END SLIDESHOW PAGE

  //--------------------------------------------------------------------------------------------
  
  //- NEW SLIDE PAGE
  div(data-role="page", data-theme='a', id="slidenew", data-add-back-btn="true", ng-model="slideNew")
    header(data-role='header', data-theme='b')
      a(href="/#slideshows", data-transition="slide", data-role="button", data-direction="reverse", data-icon="back", data-iconpos="notext", class="back_btn")
      h1 New Slide

    input(id="slide-name", type="text", placeholder="Enter a slide name", ng-model="slideNew.name")

    //- PHOTOLIST
    div(id="photos_list_container_newslide")
      div(ng-repeat="photo in photos", class="photo_container", ng-click="toggleSelect(photo, slideNew)", ng-class="{selected_photo: slideNew.picture_ids[photo.id]}")
        div
          img(ng-src="/thumbnails/{{photo.thumb_name}}", id="photo_{{photo.id}}")
  
    div(data-role="controlgroup", data-theme='b')
      a(id="new-slide-save", class='ui-btn ui-btn-icon-left ui-icon-action input_60P' ng-click="newSlide(slideNew)") Save

  //- END NEW SLIDE PAGE

  //--------------------------------------------------------------------------------------------
  
  //- EDIT SLIDE PAGE
  div(data-role="page", data-theme='a', id="slideedit", data-add-back-btn="true")
    header(data-role='header', data-theme='b')
      a(href="/#slideshows", data-transition="slide", data-role="button", data-icon="back", data-direction="reverse", data-iconpos="notext", class="back_btn")
      h1 Edit Slide

    div(data-role="controlgroup", data-theme='b')
      select(name='slideEditSelect', ng-model="slideToEdit", ng-options="slide.name for slide in slides", ng-init="slideToEdit=0") 
        option(value="") Choose slide...

    div(id="slides_edit_list_container", ng-class="{hidden : !slideToEdit}")
      div(ng-repeat="photo in photos", class="photo_container", ng-click="toggleSelect(photo, slideToEdit)", ng-class="{selected_photo: slideToEdit.picture_ids[photo.id]}")
        div
          img(ng-src="/thumbnails/{{photo.thumb_name}}", id="photo_{{photo.id}}" class="photo_edit_img")

    div(class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset input-w-title-container" ng-class="{hidden : !slideToEdit}")
      label Edit Name:
      input(ng-model="slideToEdit.newName" placeHolder="Enter new slide name:")

    div(data-role="controlgroup", data-theme='b')
      a(id="slide-edit-btn", class='ui-btn ui-btn-icon-left ui-icon-action input_60P', ng-click="saveSlide(slideToEdit)",  ng-class="{hidden : !slideToEdit}") Save
      a(id="slide-delete-btn", class='ui-btn ui-btn-icon-left ui-icon-delete input_60P', ng-click="deleteSlide(slideToEdit)",  ng-class="{hidden : !slideToEdit}") Delete

  //- END EDIT SLIDE PAGE

  //- PLAY PAGE
  div(data-role="page", data-theme='a', id="play")
    header(data-role='header', data-theme='b')
      a(href="/#home", data-transition="slide", data-role="button", data-icon="back", data-direction="reverse", data-iconpos="notext", class="back_btn")
      h1 Play

    div(data-role="controlgroup", data-theme='b')
      select(ng-model="slideToPlay", ng-options="slide.name for slide in slides")
        option(value="") Choose slide...

    div(id="play_list_container")
      div(ng-repeat="photo in slideToPlay.thumbnails", class="photo_container slide")
        div
          img(ng-src="/thumbnails/{{photo.thumb_name}}", id="{{photo.id}}", class="photo_container")

    div(data-role="controlgroup", data-theme='b')
      a(id="slide-play-btn", class='ui-btn ui-btn-icon-left ui-icon-video input_60P', ng-click='playSlide(slideToPlay)') Play Slide

    footer(data-role='footer', data-position='fixed', data-theme='b', data-tap-toggle="false")
      div(data-role='navbar')
        ul
          li
            a(id='photosNav',href='#home', data-direction="reverse", data-transition="slide", data-icon='home') Home 
          li
            a(id='photosNav',href='#photos', data-transition="slide", data-direction="reverse", data-icon='camera') Photos
          li
            a(id='slideshowNav',href='#slideshows', data-transition="slide", data-direction="reverse", data-icon='grid') Slides
          li
            a(id='configureNav',href='#play', data-transition="slide", data-icon='gear', class="ui-btn-active active") Play

  //- END PLAY PAGE

  //--------------------------------------------------------------------------------------------
  div(data-role="popup" id="notifyMsg" data-transition="pop")
    p {{notificationText}}
    div(id='photos-container')



