doctype html
html(ng-app="piFrameApp")
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name="apple-mobile-web-app-capable", content="yes")
    link(rel='stylesheet', href='/bower_components/jquery-mobile-bower/css/jquery.mobile-1.4.5.min.css')    
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(ng-controller="piController")

    block content

    script(src='/bower_components/jquery/jquery.min.js')
    script(src='/bower_components/angular/angular.min.js')
    script(src='/bower_components/angular-touch/angular-touch.min.js')
    script(src='/bower_components/jquery-mobile-bower/js/jquery.mobile-1.4.5.min.js')
    script(src="/javascripts/piframe-ng.js")