extends commonLayout

block content
  form(id='sendfileform', method='post',enctype='multipart/form-data', action="http://localhost:3000/photos")
    input(type='text', name='filename', id="filename")
    input(type='file',name='file',id='file', max-size=999999)
    input(type='submit', name='mysubmit',value='Add Photo', id='submit')
  footer(data-role='footer', data-position='fixed')
    div(data-role='navbar')
      ul 
        li
          a(id='photosNav',href='/', data-icon='home') Home 
        li
          a(id='photosNav',href='/photos', data-icon='camera',  class="ui-btn-active") Photos
        li
          a(id='slideshowNav',href='/slideshows', data-icon='grid') Slideshows
         li
          a(id='configureNav',href='/settings', data-icon='gear') Settings
