extends commonLayout

block content
  footer(data-role='footer', data-position='fixed')
      div(data-role='navbar')
        ul
          li
            a(id='photosNav',href='/', data-icon='home') Home 
          li
            a(id='photosNav',href='/photos', data-icon='camera') Photos
          li
            a(id='slideshowNav',href='/slideshows', data-icon='grid') Slideshows
           li
            a(id='configureNav',href='/settings', data-icon='gear', class="ui-btn-active") Settings
