extends commonLayout

block content
  div(data-role='content')
     img(src='images/Slideshow-icon.png',alt="Slideshow",class="icons")

  div(data-role='controlgroup', id='button-group',data-theme='b')
    a(href='/slideshows/new', class='ui-btn ui-btn-icon-left ui-icon-plus') New
    a(href='/slideshows/edit', class='ui-btn ui-btn-icon-left ui-icon-grid') Edit
    a(href='/slideshows/delete', class='ui-btn ui-btn-icon-left ui-icon-delete') Delete

  footer(data-role='footer', data-position='fixed', data-theme='b')
      div(data-role='navbar')
        ul 
          li
            a(id='photosNav',href='/', data-icon='home') Home 
          li
            a(id='photosNav',href='/photos', data-icon='camera') Photos
          li
            a(id='slideshowNav',href='/slideshows', data-icon='grid', class="ui-btn-active") Slides
           li
            a(id='configureNav',href='/settings', data-icon='gear') Settings
