piserver/bower_components
piserver/node_modules
piserver/public/css/*
piserver/public/js/*
piserver/public/images/*
pics/*
slides/*
*.db
*.log
public/build/*

# Do not ignore these files:
!.gitkeep
!.gitignore