body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#button-group{
	width: 60%;
	max-width: 400px;
	margin: 0 auto;
}

#logo, .ui-input-text, .ui-controlgroup-controls {
	width:60% !important;
	max-width: 350px !important;
	min-width:250px !important;
	margin: 20px auto !important;
	display:block;
}

.icons{
	margin: 0 auto;
	display: block;
	padding:20px;
}

.ui-icon-back{
	padding: 2px !important;
}

#photos_list_container{
	display: block;
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
}

.photo_container, .photo_container_newslide{
	max-width:250px;
	position: relative;
}

.photo_container img, .photo_container_newslide img{
	width: 100%;
}

.photo_container a{
	position: absolute;
	width: 100%;
	bottom: 0;
	height:20px;
	/*padding: 5px 0 !important;*/
	padding-top:5px !important;
	padding-bottom: 5px !important;
	margin: 0 !important;
	display: none;
	background-color: red !important;
	color: #fff !important;
	text-shadow: none !important;
	border: 1px solid #111 !important;
}

.photo_container_newslide a{

}

form{
	width:60%;
	margin: 0 auto;
}

.ui-page{
	background-image: url('../images/whitediamond.png');
	background-repeat: repeat;
}

.selected{
	opacity: .8;
}

.selected_photo{
	background-color: #98ff98;
}

.selected_photo .selected_check_img{
	display: block !important;
}

.selected_check_img{
	width:36px !important;
	position: absolute;
	top:0;
	right:0;
	display: none;
}

.visible{
	display: block !important;
}

.ui-grid-b .ui-block-a,
.ui-grid-b .ui-block-b,
.ui-grid-b .ui-block-c{
	width:32.3% !important;
	padding:1% !important;
}