body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#button-group{
	width: 60%;
	max-width: 350px;
	margin: 0 auto;
}

#logo, #photos_list_container{
	display: block;
	width: 60%;
	max-width: 1000px;
	margin: 0 auto;
}

.photo_container{
	margin: 2%;
	max-width:250px;
	width: 46%;
	float:left;
	position: relative;
}

.photo_container img{
	width: 100%;
}

.photo_container a{
	position: absolute;
	right:0;
	top:0;
}

form{
	width:60%;
	margin: 0 auto;
}

body{
	background-image: url('../images/whitediamond.png');
	background-repeat: repeat;
}